#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#root {
  text-align: left;
  margin: 0;
  padding: 0;
  /*if position set to fix, it cannot scroll*/
  /*This set to fixed for the text shown up in center without it...*/
  /*now it's absolute*/
  position: absolute;
  top: 0;
}

/* This is copied from client/src/css/App.css
 * TODO JuliaMono requires a license file, add it
 */
@font-face {
  font-family: 'JuliaMono';
  src: local('JuliaMono'), url('/fonts/JuliaMono-Regular.ttf') format('truetype');
}

/*body {*/
/*  --vscode-editor-font-family: "JuliaMono";*/
/*  --vscode-editorHoverWidget-background: rgb(255, 255, 255);*/
/*  !*this is the background color for diff*!*/
/*  --vscode-diffEditor-insertedTextBackground: rgb(213, 232, 166)*/
/*}*/

/*.tooltip { background-color: var(--vscode-editorHoverWidget-background) !important; }*/
